* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Stile per header */
header {
    background-color: #FBEBD1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    margin: 20px;
    padding: 20px;
    text-decoration: none;
}

header a:hover {
    border: 1px solid #ff6a22;
    border-radius: 2rem;

}

header a.active {
    border: 1px solid #ff6a22;
    border-radius: 2rem;
}

header img {
    max-width: 10%;
}